{% extends 'todo/base.html' %}
{% load staticfiles %}
{% block title %}
Add Todo
{% endblock %}

{% block content %}
<link rel="stylesheet" href='{% static "css/todo.css" %}'>
<br>
<div class="container">
  <div class="row jumbotron">
    <h1 class="col-sm-12 text-center" style='color:red;'>Add Todo</h1>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <form method="post">
        {% csrf_token%}
        {{form.as_p}}
        <input class="btn btn-danger" type="submit" value="Add">
      </form>
    </div>
  </div>
</div>
<script>
    $('.datepicker').datepicker({
        uiLibrary: 'bootstrap4'
    });
</script>
<script>
    $('.timepicker').timepicker({
        uiLibrary: 'bootstrap4'
    });
</script>
{% endblock %}
